<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="snow">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import snow urdf file -->
    <xacro:include filename="$(find snow_description)/urdf/snow.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="snow.ros2_control.xacro" />


    <xacro:snow_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
